@font-face {
    font-family: 'Quella';
    src: url('../fonts/Quella.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/poppins-v24-latin-800.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/poppins-v24-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/poppins-v24-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/poppins-v24-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
a {
    text-decoration: none;
    color: inherit;
}
/*----------------------------*/
.header {
    display: flex;
    align-items: center;

    height: 120px;
    padding: 0 5%;

    background-color: #ffffff;
}
.header__left {
    display: flex; 
    align-items: center;
    gap: 4rem;
}
.header__logo {
    font-family: 'Quella', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #1E1E1E;
}
.header__nav ul {
    display: flex;
    gap: 3rem;  

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;  

    list-style: none;           
}
.header__link--home {
    color: #1E1E1E;
}
.header__link--products {
    color:#1E1E1E;
    opacity: 0.5;
}
.header__link--contacts {
    color:#1E1E1E;
    opacity: 0.5;
}
.header__actions {
    display: flex;
    gap: 2rem;
    margin-left: auto;
}
.header__actions img {
    width: 20px;
    height: 20px;
}
.header__actions img.search-icon {
    width: 18px;
    height: 19px;
}
/*----------------------------*/
.main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    min-height: 1200px;
    padding: 0 5%;

    background-color: #ffffff;
}
.hero {
    display: flex;
    justify-content: center;
}
.hero__content {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    width: 100%;
    max-width: 1440px;
    min-height: 485px;
    border-radius: 24px;

    background-color: #C1DCDC;
}
.hero__info {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 490px;
    padding-left: 2.7rem;
    padding-top: 2.7rem;
}
 .hero__info h1{ 
    width: 100%;
    max-width: 490px;
    margin: 0;
    height: 110px;

    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 800;
}
.hero__stats {
    display: flex;
    gap: 2.5rem;

    margin-top: 3.9rem;
}
.hero__stats--left,
.hero__stats--right {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
}
.hero__stats-number {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
}
.hero__stats-label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.customers {
    padding-left: 0.3rem;
}
.hero__divider {
    width: 0.5px;
    height: 60px;

    background-color: #1E1E1E;
}
.hero__search {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 500px;
  margin-top: 2.5rem;
}
.hero__search input {
  height: 54px;
  width:100%;
  max-width: 440px;
  border-radius: 12px;

  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

  background: #ffffff;
  border: none;
  outline: none;
}
.hero__search input::placeholder {
    padding-left: 1rem;

    color:#1E1E1E;
    opacity: 0.5;
}
.hero__search button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: -50px; 
  height: 35px;
  width: 35px;
  border-radius: 12px;

  background: #c1dcdc;
  border: none;
  cursor: pointer;
}
.hero__search button img {
  width: 15px;
  height: 15px; 
}
.hero__media {
    display: flex;
    overflow: hidden;
    position: relative;

    width: 100%;
    max-width: 600px;
}
.hero__rounded-square {
    position: absolute;
    right: 9%;;
    bottom: 0;

    width: 370px;
    height: 350px;
    border-radius: 47% 47% 0 47%;

    background-color: #1E1E1E;
}
.hero__image-hand {
    position: absolute;
    right: 5%;
    bottom: 0%;

    width: 365px;
    height: 444px;
}
.hero__arrow--left {
    position: absolute;
    bottom:18%;
    right:71.8%;

    width: 168px;
    height: 80px;
}
.hero__arrow--right {
    position: absolute;
    right: 4%;
    top: 2%;
    
    width: 80px;
    height: 185px;
}
/*----------------------------*/
.product {
    display: flex;
    justify-content: center;
}
.product__content {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    overflow: hidden;

    width: 100%;
    max-width: 1440px;
    min-height: 420px;

    background-color: #ffffff;
}
.product__info {
    width: 250px;
    height: 400px;
}
.product__info h2 {
    margin: 0;

    width: 100%;

    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
}
.product__info p {
    margin-top: 0.9rem;
    margin-bottom: 0.6rem;

    width: 195px;
    height: 90px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: #1E1E1E;
    opacity: 0.5;
    
}
.product__info button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 165px;
    height: 50px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;

    border-style: none;
    cursor: pointer;
    border-radius: 8px ;
    background-color: #C1DCDC;
} 
.product__info button img {
    width: 18px;
    height: 18px;
}
.product__media {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    width: 300px;
    height: 420px;
}
.product__media img {
    width: 100%;
    height: 100%;
    max-height: 360px;
}
.product__plant-name {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1E1E1E;
}
.product__plant-price {
    font-family: 'Poppins' sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1E1E1E;
    opacity: 0.5;
}
/*----------------------------*/
.about {
    display: flex;
    justify-content: center;
}
.about__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    overflow: hidden;

    width: 100%;
    max-width: 1440px;
    min-height: 420px;

    background-color: #ffffff;
    /* border: black solid 2px; */
}
.about__cta {
    display: flex;
    align-items: center;
    flex-direction: column ;

    /* border: black solid 2px; */
    width: 430px;
    height: 90px;
}
.about__cta h2 {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #1E1E1E;
}
.about__cta p {
    margin-top: 1.2rem;
    
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1E1E1E;
    opacity: 0.5;
}
.about__benefits {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;

    /* border: black solid 2px; */
    width: 1300px;
    height: 210px;
}
.about__circle {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    width: 100px;
    height: 100px;

    background-color: #C1DCDC;
}
.about__circle img {
    width: 42px;
    height: 42px;
}
.about__benefit {
    display: flex;
    flex-direction: column;
    align-items: center; 

    width: 400px;
    height: 250px;
}
.about__benefit h3 {
    margin-top: 1.7rem;
    margin-bottom: 1rem;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #1E1E1E;
}
.about__benefit p {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 1.4;
    color: #1E1E1E;
    opacity: 0.5;
}